{% extends "contenido/barraNav.html" %}

{% block contenido %}
<h2>Curso</h2>
    <p>Nombre: <input type = "text" name = "nombre" /></p>
    <p>Correo electrónico: <input type = "text" name = "correo" /></p>
    <p>Curso: <select>
    <option>Base de datos</option>
    <option>Programacion</option>
    <option>IoT</opcion>
    </select>
    </p>
    <p>Mensaje: </p><p><textarea cols = "50" rows = "10"></textarea></p>
    <p><input type = "button" name = "enviar" value = "Enviar" /></p>
{% endblock %}