<!DOCTYPE html>

<html lange = "en">

<head>
    <title>Barra de navegacion</title>
    {%load static%}
    <link rel = "stylesheet" href = "{% static 'contenido/css2/estilos.css' %}">
</head>

<body>

    <nav>
        <img src ={%static 'contenido/img/logo.png'%}>
        <ul class = "list">
            <li> <a href = "/">Inicio</a> </li>
            <li> <a href = "cursos/">Cursos</a> </li>
            <li> <a href = "formulario/">Contacto</a> </li> 
        </ul>
    </nav>

</body>

</html>